.container {
  width: 80%;
  margin: 1rem auto;
}
.repos {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0;
  border-radius: 15px;
  background-color: var(--appBackgroundColor);
}
.repo,
.followers,
.following {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.title {
  font-size: 11px;
  color: var(--textColor);
}
.value {
  margin-top: 0.5rem;
  color: var(--blackTextColor);
  font-weight: bold;
}
.containerInfo {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: var(--textColor);
}
.info > span {
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .title {
    font-size: 13px;
  }
  .value {
    font-size: 22px;
  }
  .containerInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
