.containerAvatarImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}
.containerAvatar {
  display: flex;
  flex-direction: row;
}
.containerText {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.title {
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: var(--blackTextColor);
}
.login {
  font-size: 13px;
  color: var(--buttonText);
  margin-bottom: 0.2rem;
}
.joined,
.text {
  font-size: 11px;
  color: var(--textColor);
}
.text {
  margin-top: 2rem;
  text-align: justify;
}
@media (min-width: 768px) {
  .containerAvatarImg {
    width: 120px;
    height: 120px;
  }
  .title {
    font-size: 26px;
  }

  .joined,
  .text,
  .login {
    font-size: 16px;
  }
}
