@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --appBackgroundColor: #f6f8ff;
  --textColor: #4b6a9b;
  --buttonText: #0079ff;
  --ResultColor: #fff;
  --blackTextColor: #000;
}
[data-theme="dark"] {
  --appBackgroundColor: #141d2f;
  --textColor: #fff;
  --ResultColor: #1e2a47;
  --blackTextColor: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
